/*Grid da direita*/

/*Div no meio da grid*/
.Home-container .serviços .right{
    display: block;
    padding: 20px;
    justify-content: space-between;
    align-items: left;
    width: 400px;
    height: 50vh;
    margin: 78px 0px 0px 47px;
    background-color: #FFF;
    border-radius: 10px;
    list-style: none;
    box-shadow: 0 0 1px rgba(0, 0, 0.1);
}