*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    --primary: #14b3b0;
    --secundary: #121429;
    --black: #000;
    --gray: #333;
    --light-gray: #cccccc;
    --white: #fff;
    --ice: #f5f5f5;
    --red: #ff0000;
    --green: #50cc5d;
    --dark-green: #3bad47;
    --yellow: #edcb07;
    --orange: #ed5909;
    --purple: #5e0ee8;
    --gmail: #b53527;
    --blue: #0073b2;
}

html{
    font-size: 1.5vw;
}

li, a{
    text-decoration: none;
    list-style: none;
}

body{
    font: 400 1.4rem Ubuntu, sans-serif;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea, select{
    font: 400 1.8rem Ubuntu, sans-serif;
}

button{
    cursor: pointer;
    border: 0;
    background: none;
}

form input, select, select option{
    width: 100%;
    height: 2.5rem;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 1.1rem;
    transition: linear; 
    background-color: #FFF;
}

form input:focus, textarea:focus{
    border-left: 6px solid #14b3b0;
}
form textarea{
    width: 100%;
    resize: vertical;
    min-height: 8rem;
    max-height: 10rem;
    font-size: 1.1rem;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 10px;
    padding: 5px 15px;
    line-height: 24px;
}

.button{
    width: 100%;
    height: 50px;
    background: #14b3b0;
    border: 0;
    border-radius: 5px;
    color: #FFF;
    font-weight: 700;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    transition: ease 0.5s;
}

.button:hover{
    opacity: 0.8;
}

.secondary{
    background: none;
    border: 2px solid #14b3b0;
    color: #14b3b0;
}
.Button{
    width: 100%;
    height: 60px;
    background: #14b3b0;
    border: 0;
    border-radius: 10px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}
.Button:hover{
    filter: brightness(90%);
}
.B-utton{
    width: 100%;
    height: 60px;
    background: #14b3b0;
    border: 0;
    border-radius: 10px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}
.B-utton:hover{
    filter: brightness(90%);
}

.back-link{
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: black;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.5s;
}

.back-link svg{
    margin-right: 8px;
}

.back-link:hover{
    opacity: 0.8;
}
.return-link{
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: black;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}
.ruturn-link svg{
    margin-right: 8px;
}
.return-link:hover{
    opacity: 0.8;
}
.Cback-link{
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: black;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}
.Cback-link svg{
    margin-right: 8px;
}
.Cback-link:hover{
    opacity: 0.8;
}