/*Div que estrutura o projeto*/
.container{
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box{
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  background: #ffff;
  box-shadow: 5px 5px 10px #000000;
}

.outra {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.outra .login-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  height: 100px;
  padding: 20px;
}

.outra .login-header img{
  width: 125px;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.form-container h1{
  font-size: 40px;
  padding: 10px;
  border-bottom: 5px solid #14b3b0;
}

.disabled-register{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #121429;
  background-image: url("../../assets/texture-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.disabled-register h1{
  margin-bottom: 60px;
  font-size: 40px;
  padding: 10px;
  border-bottom: 5px solid #14b3b0;
}
.disabled-register .title{
  color: #ffffff;
}

.disabled-register .button{
  width: 60%;
}