.Aboutus-container{
    background-color: #f5f5f5;
    width: 95%;
    max-width: 2000px;
    height: 260vh;   
    border-radius: 70px;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
}
.alinhar{
    display: flex ; 
    align-items: center;
    justify-content: space-evenly;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.volta-link{
    margin-left: 50px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    font-weight: 500;
    transition: filter 0.2s;
    
}
.Aboutus-container a{
    color: #14b3b0;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
    display: flex;
    justify-content: last baseline;
}
.Quem-somos{
    width: 80%;
    height: 550px;
    text-align: center;
    background-color: #14b3b0;
    margin-left: 130px;
    border-radius: 20px;
  
}
.Nossas-mot{
    width: 80%;
    height: 400px;
    text-align: center;
    background-color: #f5f5f5;
    margin-left: 130px;
    border-radius: 20px;
}
.Nossos-Obj{
    width: 80%;
    height: 550px;
    text-align: center;
    background-color: #14b3b0;
    margin-left: 130px;
    border-radius: 20px;
}
.h3{
    padding-top: 20px;
    margin-bottom: 30px;
    font-size: 2rem;
    color:#1C1C1C;
}
.p{
    padding-left: 250px;
    padding-right: 250px;
    margin-bottom: 50px;
    color: #222222;
    font-size: 18px;
    line-height: 32px;
    
    
}    

.logo-1{
    width: 150px;
    margin-top: 2vh;
    margin-bottom: 10px;
    margin-left: 60px;
}
.maos{
    width: 100px;
    margin-top: 30px;
}
.objetivos{
    width: 100px;
    margin-top: 30px;
}
.prancheta{
    width: 100px;
    margin-top: 30px;
}
