/*Estrutura da página*/
.New-Service-Container{
    background-color: #f5f5f5;
    width: 2000px;
    max-width: 1120px;
    height: 100vh;
    margin: 100px 100px 100px 100px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Div na frente*/
.New-Service-Container .content{
    width: 100%;
    padding: 96px;
    background: #f5f5f5;
    box-shadow: 0 0 100px rgba(0, 0, 0.1);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Conteúdo da esquerda*/
.New-Service-Container .content section{
    width: 100%;
    max-width: 380px;
    max-height: 500px;
    margin: 0px 0px 110px 0px;
}

.New-Service-Container .content section h1{
    margin: 10px 0px 20px;
    font-size: 32px;
}

.New-Service-Container .content section p{
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

/*Inputs/ Formulário*/
.New-Service-Container .content form{
    width: 100%;
    max-width: 450px;
}

.New-Service-Container form input:focus{
    border-left-width: 7px;
    border-left-color:#14b3b0;
}

.New-Service-Container form textarea{
    margin: 5px 0px 0px 0px;
}

.New-Service-Container form textarea:focus{
    border-left-width: 7px;
    border-left-color:#14b3b0;
}

/*Botão*/
.New-Service-Container .content form button{
    font-size: 19px;
}

.New-Service-Container form button:hover{
    background-color:#17d4d2;
}
