/* media queries */
@media (max-width:2560px){
  .logon-container {
    background-color: #f5f5f5;
    background-size: 1000px;
    width: 85%;
    max-width: 2000;
    height: 125vh;
    margin: 50px auto 50px auto;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
}
}
@media (max-width:1024px){
    .logon-container section header  nav .aboutUs-button{
        margin-left: 600px;
      }
      .logon-container section header .theme-button{
        color: #14b3b0;
      }
}

@media (max-width: 780px) {

    .logon-container{
      margin: 20px auto 20px auto;
    }
    .logo {
      width: 150px;
      margin-top: 1vh;
      margin-bottom: 1px;
      margin-left: 95px;
    }
    .logon-container section header  nav .aboutUs-button{
        display: flex;
        align-items: center;
        margin: 30px 0px 0px 70px;
        width: 90px;
        max-width: 150px;
        height: 70px;
        padding: 5px;
        border-radius: 9px;
        border: none;
        background-color: #f5f5f5;
      }
      
      .logon-container section header nav .aboutUs-button:hover{
        color: #f5f5f5;
        opacity: 0.8s;
        background-color: #14b3b0;
        border: none;
      }
      
      .logon-container section header nav .aboutUs-button p:hover {
        color: #f5f5f5;
      }
      
      .logon-container section header #aboutUs{
        color: #14b3b0;
        font-size: 2.2rem;
        margin: 0px 0px 0px 0px;
      }
      
      
      .logon-container section header .theme-button{
        color: #14b3b0;
        margin: 30px 0px 0px 20px;
        padding: 10px;
        border-color: #f5f5f5;
        border: solid;
        border: none;
        border-radius: 8px;
        background-color: #f5f5f5;
      }
      .logon-container section header .theme-button:hover{
        opacity: 0.8s;
        background-color: #14b3b0;
        color: #f5f5f5;
        border: none;
      }
      .logon-container .img {
        display: none;
      }
      .logon-container section.form form {
        margin-top: 20px;
        margin-left: 60px;
      }
      .back-link {
        display: flex;
        align-items: center;
        margin-top: 40px;
        color: black;
        font-size: 1.8rem;
        text-decoration: none;
        font-weight: 500;
        transition: opacity 0.2s;
        /* margin-left: -35px; */
      }
      .button {
        width: 355px;
        height: 60px;
        background: #14b3b0;
        border: 0;
        border-radius: 10px;
        color: #FFF;
        font-weight: 700;
        margin-top: 16px;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        line-height: 60px;
        transition: filter 0.2s;
        margin-left: -35px;
        margin-right: -18px;
      }

}
@media (max-width: 425px){
    .logon-container{
      margin: 20px auto 20px auto;
    }
    .logon-container section.form form {
      margin-top: 20px;
      margin-left: 50px;
    }
    .logon-container section.form form h1{
      margin-left: 40px;
    }
    .logon-container section.form form input{
      width: 320px;
    }
    .back-link {
      display: flex;
      align-items: center;
      margin-top: 30px;
      color: black;
      font-size: 1.4rem;
      text-decoration: none;
      font-weight: 500;
      transition: opacity 0.2s;
      margin-left: 0.1px;
    }
  
    .button {
      width: 320px;
      height: 60px;
      background: #14b3b0;
      border: 0;
      border-radius: 10px;
      color: #FFF;
      font-weight: 700;
      margin-top: 16px;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      font-size: 18px;
      line-height: 60px;
      transition: filter 0.2s;
      margin-left: -45px;
    }
}        
@media (max-width: 375px){
    .logon-container{
      margin: 20px auto 20px auto;
    }
    .logo {
      margin-left: 65px;
    }
    .logon-container section.form form h1 {
      margin-left: 10px;
    }
    form input{
      display: flex;
      width: 300px;
      max-width: 300px;
      height: 60px;
      color: #333;
      border: 1px solid #dcdce6;
      border-radius: 10px;
      transition: linear; 
    }
    .button {
      width: 320px;
      height: 60px;
      background: #14b3b0;
      border: 0;
      border-radius: 10px;
      color: #FFF;
      font-weight: 700;
      margin-top: 16px;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      font-size: 18px;
      line-height: 60px;
      transition: filter 0.2s;
      margin-left: -45px;
    }
    .logon-container section.form form a + a{
      margin-left: 2px;
    }

}
@media (max-width: 360px) {
  .logon-container {
    flex-direction: column;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    
  }
    nav {
        display: none;
    }
    .logo {
      margin-left: 35px;
    }
    
    .logon-container section.form form h1 {
        margin-left: -20px;
    }
    form input{
        display: flex;
        width: 280px;
        max-width: 280px;
        height: 60px;
        color: #333;
        border: 1px solid #dcdce6;
        border-radius: 10px;
        transition: linear; 
      }
}
@media (max-width: 320px){
  .logo{
    margin:auto;
  }
  .button {
    width: 355px;
    height: 60px;
    background: #14b3b0;
    border: 0;
    border-radius: 10px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
    
  }
  .back-link {
    display: flex;
    align-items: center;
    margin-top: 30px;
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;  
  }
  .logon-container section.form form h1 {
    margin-left: -25px;
  }
  form input{
    display: flex;
    width: 250px;
    max-width: 250px;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 10px;
    transition: linear; 
  }
  .logon-container section.form form a + a {
    margin-left: -15px;
  }
}
@media (max-width: 280px){
  .logon-container {
    flex-direction: column;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .logo {
    margin: auto;
  }
  .logon-container section header nav .aboutUs-button {
    display: flex;
    align-items: center;
    margin: 30px 0px 0px 20px;
    width: 90px;
    max-width: 150px;
    height: 70px;
    padding: 5px;
    border-radius: 9px;
    border: none;
    background-color: #f5f5f5;
  }
  .logon-container section.form form {
    margin-top: 20px;
    margin-left: 40px;
  }
  form h1 {
    margin-left: -20px;
  }
  .logon-container section.form form input {
    width: 220px;
  }
  .logon-container section.form form a + a {
    margin-left: -15px;
  }
  form input{
    display: flex;
    width: 220px;
    max-width: 300px;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 10px;
    transition: linear; 
  }
  .button {
    width: 320px;
    height: 60px;
    background: #14b3b0;
    border: 0;
    border-radius: 10px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
    margin-left: -40px;
  } 
}